@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600;700&display=swap');
body{
    padding: 0;
    margin: 7em;
    display: flex;
    justify-content:center;
    background-color:hsl(217, 54%, 11%);
    font-size:18px;
    font-family: 'Outfit',sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    padding: 1em;
    background-color: hsl(216, 50%, 16%);
    width: 250px;
    border-radius: 16px;
    box-shadow: 0px 20px 15px hsl(215, 52%, 9%);   
}
.container img{
    border-radius:10px;
}
.head{
    color: #fff;
    font-weight:600;
}
.second{
    color:hsl(215, 51%, 70%);
    font-weight:300;
    font-size:15px;
}

.third{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}


.eth{
    display: flex;
    flex-direction: row;
    gap:5px;
}
.eth img{
    height: 15px;
    margin-top: 15px;
    
}
.eth p{
    font-size:13px;
    color:hsl(178, 100%, 50%);
}


.clock{
    display:flex;
    flex-direction: row;
    gap:5px;
}
.clock img{
    height: 15px;
    margin-top: 14px;
}
.clock p{
    color:hsl(215, 51%, 70%);
    font-size:13px;
}

.line{
    border:1px solid hsl(215, 32%, 27%);
    width:100%;
    margin-top:1em;

}

.fourth{
    display:flex;
    flex-direction: row;
    margin-top:5px;
    gap:10px;

}
.fourth img{
    height:25px;
    margin-top:5px;
    border:1px solid white;
    border-radius: 100%;
}
.fourth p{
    font-size:12px;
    color:white;   
}
.fourth span{
    color:hsl(215, 51%, 70%);
}

